IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
AlignOperands: AlignAfterOperator
ReferenceAlignment: Left
ColumnLimit: 500
BinPackParameters: true
PenaltyBreakBeforeFirstCallParameter: 999999
PointerAlignment: Left
BreakBeforeTernaryOperators: true
